.hight_h2{
    height: 4rem; 
}
.flex_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.flex_container img:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
